body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/*Navbar*/
nav {
    width: 100%;
    background-color: #dc3545;
}
.navbar-nav {
    font-family: 'Caveat Brush', cursive;
}
.pknav {
    width: 100%;
    margin: 0;
    padding: 0 15px;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pkapilogo {
    padding: 10px;
}
.pkinput {
    width: auto;
}
.input-group-text {
    background-color: white;
}
.pklogo {
    height: 25px;
}

/*Main*/

/* títulos */
h1 {
    text-align: center;
    font-family: 'Krona One', sans-serif;
}
h4 {
    text-align: center;
}
/* Card del pokémon */
.poke-imagenes {
    height: 240px;
}
#imagen-f, #imagen-b {
    display: flex;
    justify-content: center;
    padding: 10px;
   }
.miniaturas {
    transition: transform 0.3s linear;
}   
.miniaturas:hover {
    transform: scale(1.3);
}   
.uno {
    display: flex;
    justify-content: center;
}
.card {
    width: 70%;
    border: 1px solid #dc3545;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 4px 3px 5px 0px rgba(211,211,211,1);
}
.datos-pokemon {
    width: 300px;
    margin-top: 50px;
 }

/* Estadísticas del pokémon */
.dos {
    align-items: center;
}
.datos-estadistica {
    align-items: center;
}
.datos-dinamicos {
    font-weight: 700;
    display: inline-block;
    text-align: left;
    list-style: none;
    padding: 0;
}
.datos {
    display: inline-block;
    text-align: left;
    list-style: none;
    padding: 0;
}
.datos li, .datos-dinamicos li {
    padding: 15px 0;
}

/* Cuando sea menos de 576px, funcionará asi: */

@media (max-width:576px) {
    /* Navbar */
    .pknav {
        height: 180px;
        display: block;
        text-align: center;
    }
    .input-group-append {
        display: none;
    }
    .pkinput {
        justify-content: center;
    }   
    /* Tarjeta de pokémon  */
    .card {
        width: 90%;
    }
    /* Sección de estadísticas del Pokémon */
    .dos {
        width: 80%;
    }
    /* En versión mobile las estadísticas no se muestra */
    #boton-modal {
        display: none;
    }
}
